<%- model_class = Timming -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:dept_time) %></th>
      <th><%= model_class.human_attribute_name(:bus_type) %></th>
      <th><%= model_class.human_attribute_name(:provider_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @timmings.each do |timming| %>
      <tr>
        <td><%= link_to timming.id, timming_path(timming) %></td>
        
        <td><%= timming.dept_time %></td>
        <td><%= timming.bus_type %></td>
        <td><%= timming.provider_id %></td>
        <td><%=l timming.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      timming_path(timming), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_timming_path(timming), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      timming_path(timming),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_timming_path,
            :class => 'btn btn-primary' %>
