 <%= form_tag("/find", method: "post",:id => 'find_form')  do %>
 <label>Search</label>
 <%= text_field_tag :search %>
 <label>Destination</label>
 <%= text_field_tag :destination %>
 <%= submit_tag "Search", :name => nil %> 
<% end %> 
 
 <%#*<form method = 'post' action = '/search'>%>
     <%#*<label for="source">Source</label>%>
     <%#*<input type="text" name="search" id = 'search'><br>%>
     <%#*<label for="des">Destination</label>%>
     <%#*<input type="text" name="destination" id="destination"><br>%>
     <%#*<input type="submit" value="search">%>
     <%#*</form>%>
     
 


 <div id = 'result'></div>
 <%# binding.pry %>
 <% if @sources %>
<select>
<%= @sources.each do |source|%>
  <span id ='op'></span>
 
<option> <%= source[1] %> </option>
<option> <%= source.last %> </option>

<% end %>

</select>
 
 <select>
     
 <%= @dist_cal.each do |dist|%>
  <span id ='op'></span>
<option> <%= dist %> </option>

<% end %>
</select>
 
<% end %>
 
 

 
 
 
 <%#*<div>%>
  <%#*<div id="items_grid" >%>
    <%#= render partial: 'source', locals: {sources: sources}  %>
  <%#*</div>%>
<%#*</div>%>
 

 
 
 

///pune to kolhapur all timmings and buses find here above
